cmake-build-debug*
cmake-build-release*
cmake-build-relwithdebinfo
build
.idea
factDB/gen*
data/
venv/
result/
results/
tex/
__pycache__

/umbra
factDB/parser/gen/*
bench/ce/data
bench/random/*
bench/plot/output/*

/umbra
/kuzu
/fbench
/db
LMFAO
fbench